<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Library</title>
  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
  <main class="hero is-fullheight">
    {{> navbar/index}}

    <div class="hero-body is-block">
      {{!-- Welcome --}}
      {{!-- <section class="container is-max-desktop box">
        <h1 class="title is-1">
          Here is the right place, for book lovers!
        </h1>
        <p class="subtitle">
          My first website with <strong>Bulma</strong>!
        </p>
      </section> --}}

      {{!-- Quote of the day --}}
      <section class="container is-max-desktop box">
        <div class="container is-flex is-flex-direction-column">
          <h1 class="title is-5">Quote of the day</h1>
          <p class="subtitle mt-1 is-5 has-text-centered">
            Work like you don't need the money. Love like you've never been hurt. Dance like nobody's watching.
          </p>
          <div class="level" style="margin-left: auto">
            Albert King
          </div>
        </div>
      </section>

      {{!-- Trending Books --}}
      <section class="container is-max-desktop box">
        <div class="mb-5">
          <h2 class="title is-5">Trending Books</h2>
        </div>
        <div class="trending-books-wrapper">
          {{#each data.trendingBooks}}
            <a href={{key}} class="column">
              <div class="card" style="height: 100%;">
                <div class="card-image">
                  <figure class="image">
                    <img src="http://covers.openlibrary.org/b/id/{{cover_i}}-M.jpg" alt="{{title}}" class="trending-book-cover" loading="lazy">
                  </figure>
                </div>
              </div>
            </a>
          {{/each}}
        </div>
      </section>

      {{!-- Top subjects --}}
      <section class="container is-max-desktop box">
        <div class="mb-5">
          <h2 class="title is-5">Top Subjects</h2>
        </div>
        <div class="columns is-3-desktop px-3 pb-3 has-text-centered" style="gap: 0 8px;">
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">Adventure</p>
          </a>
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">Classic</p>
          </a>
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">History</p>
          </a>
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">Crime</p>
          </a>
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">Action</p>
          </a>
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">Adventure</p>
          </a>
          <a class="column button box has-background-blue mb-0">
            <p class="title has-text-white is-6">Classic</p>
          </a>
        </div>
      </section>
    </div>

    {{> footer}}
  </main>
</body>
</html>