<nav class="hero-head navbar is-spaced has-background-blue" role="navigation" aria-label="main navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title has-text-white">Bookinga</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <input class="input is-size-6" type="text" placeholder="Books, Authors, Publishers">
        </div>
        <a class="navbar-item navbar-item-link">
          Browse
        </a>

        <a class="navbar-item navbar-item-link">
          About
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button has-background-orange" href="/signup">
              <strong class="has-text-white">Sign up</strong>
            </a>
            <a class="button is-light" href="/signin">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>