<footer class="hero-foot is-narrow">
  <div class="has-text-centered">
    <p>
      Made with love and coffee by <strong><a href="https://sinabyr.ir">Sina Beyraghdar</a></strong>
    </p>
  </div>
</footer>