<footer class="footer" style="background-color: #FFF9DE;">
  <div class="content has-text-centered">
    <p>
      Made with love and coffee by <strong><a href="https://sinabyr.ir">Sina Beyraghdar</a></strong>
    </p>
  </div>
</footer>