$white: #FFF9DE;
$orange: #ff8606;
$orange-invert: findColorInvert($orange);
$blue: #7DB9B6;
$blue-invert: findColorInvert($blue);
$custom-colors: ("orange": ($orange, $orange-invert), "blue": ($blue, $blue-invert));

@import "bulma/bulma.sass";
@import "https://use.fontawesome.com/releases/v5.15.4/css/solid.css";
@import "https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css";

*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}

body {
  background-color: #FFF9DE;
}